In [1]:
import numpy as np
import pandas as pd

# Uvod v pandas - Domača naloga

[Vir](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

### 1. How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [2]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [12]:
#Rešitev
#pd.concat([ser1,ser2],axis=1)
print('Result_1 =',pd.concat([ser1.rename('ser1'),ser2.rename('ser2')],axis=1))

Result_1 =    ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

### 2. How to assign name to the series’ index?

Give a name to the series ser calling it ‘alphabets’.

In [18]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [19]:
#Rešitev
print('Result_2 =',ser.rename('alphabets'))

Result_2 = 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

### 3. How to get the items of series A not present in series B?

From ser1 remove items present in ser2.

**Pomoč:** Metoda .isin()

In [20]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [33]:
#Rešitev presek
#ena rešitev je spodnja
print('Result_3 =',ser1[~ser1.isin(ser2)])

Result_3 = 0    1
1    2
2    3
dtype: int64

In [35]:
#druga, meni elegantnejša in pobere dobesedno samo elemente je spodnja, sice jih pa ne indeksira kot zgornja
presek = np.setdiff1d(ser1,ser2)
print('Result_3.1 =', presek)

Result_3.1 = [1 2 3]

### 4. How to get frequency counts of unique items of a series?

Calculte the frequency counts of each unique value ser.

In [37]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser

0     c
1     d
2     f
3     h
4     c
5     d
6     f
7     e
8     c
9     a
10    a
11    f
12    b
13    d
14    d
15    g
16    h
17    b
18    g
19    d
20    c
21    h
22    e
23    h
24    g
25    d
26    g
27    g
28    f
29    e
dtype: object

In [39]:
#Rešitev
print('Result_4 =',pd.value_counts(ser))

Result_4 = d    6
g    5
f    4
h    4
c    4
e    3
a    2
b    2
dtype: int64

### 5. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [66]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     3
2     4
3     1
4     1
5     4
6     4
7     4
8     3
9     3
10    1
11    1
dtype: int64

In [67]:
#Rešitev
ser[~ser.isin(ser.value_counts().head(2).index)]='Other'
ser

0     Other
1     Other
2         4
3         1
4         1
5         4
6         4
7         4
8     Other
9     Other
10        1
11        1
dtype: object

### 6. How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

**Pomoč:** Metoda .take()

In [68]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [70]:
#Rešitev

print('Result_6 =',ser.take(pos))

Result_6 = 0     a
4     e
8     i
14    o
20    u
dtype: object

### 7. How to convert the first character of each element in a series to uppercase?

Change the first character of each word to upper case in each word of ser.

In [76]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [81]:
#Rešitev

print('Result_7 =',ser.str.capitalize())

Result_7 = 0     How
1      To
2    Kick
3    Ass?
dtype: object

### 8. How to convert a series of date-strings to a timeseries?

In [82]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]
```

In [84]:
#Rešitev
print('Result_8 =',pd.to_datetime(ser))

Result_8 = 0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### 9.  How to get the day of month, week number, day of year and day of week from a series of date strings?

Get the day of month, week number, day of year and day of week from ser.

In [90]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

Desired Output:
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [95]:
#Rešitev
print('Result_9_day =',pd.to_datetime(ser).dt.day)
print('Result_9_week=',pd.to_datetime(ser).dt.week)
print('Result_9_DoY =',pd.to_datetime(ser).dt.dayofyear)
print('Result_9_WdN =',pd.to_datetime(ser).dt.weekday_name)

Result_9_day = 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Result_9_week= 0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64
Result_9_DoY = 0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64
Result_9_WdN = 0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

### 10. How to filter valid emails from a series?

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

In [99]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
print(emails)
print(pattern)

0    buying books at amazom.com
1             rameses@egypt.com
2                     matt@t.co
3             narendra@modi.com
dtype: object
[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}

In [100]:
#Rešitev

print('Results_10 =',emails[emails.str.contains(pattern)])

Results_10 = 1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### 11. How to change column values when importing csv to a dataframe?

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

**Pomoč:** Uporaba parametra converter v read_csv() funkciji.

In [101]:
#Rešitev
a=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
a.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [105]:
#Rešitev
def median(col): 
    if float(col)<25: 
       return 'Low' 
    else: 
       return 'High'

a=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
              converters={"medv": lambda x:median(x)})
print('Result_11 =',a.head(10))

Result_11 =       crim    zn  indus  chas    nox     rm    age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185   61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998   45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147   54.2  6.0622    3  222     18.7
5  0.02985   0.0   2.18     0  0.458  6.430   58.7  6.0622    3  222     18.7
6  0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5  311     15.2
7  0.14455  12.5   7.87     0  0.524  6.172   96.1  5.9505    5  311     15.2
8  0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311     15.2
9  0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5  311     15.2

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High
5  394.12   5.21  High
6  395.60  12.43   Low
7  396.90  19.15  High
8  386.63  29.93   Low
9  386.71  17.10   Low

### 12. How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

> Dataset: https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv

In [107]:
#Rešitev

a=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
             ,usecols=['crim', 'medv'])
print('Result_12 =',a.head())

Result_12 =       crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### 12. How to check if a dataframe has any missing values?

Check if df has any missing values.

In [110]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [111]:
#Rešitev
print('Result_12.1 =',df.isnull().values.any())

Result_12.1 = True

## Dodaten izziv
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [166]:
import pandas as pd

df = pd.read_csv('data/DN_olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,? Summer,Gold,Silver,Bronze,Total,? Winter,Gold.1,Silver.1,Bronze.1,Total.1,? Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [167]:
# You should write your whole answer within the function provided.
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

? Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
? Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
? Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [168]:
#največ zlatih
def answer_one(df):
    return df[df['Gold']==df['Gold'].max()].index[0]# z index[0] vrnem samo ime države, string in ne vse podatke
answer_one(df)

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [169]:
def answer_two(df):
    df['izr1']=(df['Gold']-df['Gold.1']) #gold poletne - gold1 zimske = država z največjo delto
    return df[df['izr1']==df['izr1'].max()].index[0]
answer_two(df)

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [170]:
def answer_three(df):
    df['izr1']=(df['Gold']-df['Gold.1'])/df['Gold.2']
    return df[df['izr1']==df['izr1'].max()].index[0]
answer_three(df)

'Algeria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [171]:
def answer_four(df):
    df['izr1']=df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1
    return df['izr1'].rename('Points')
answer_four(df)

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64