In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Web Scraping

- **Spletna stran:** https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
- **Tabela:** Sovereign states and dependencies by population

### Naloga

Tabelo na zgornji strani pretvorite v urejen pandas dataframe, ki vsebuje naslednje stolpce (pozor na ustrezen tip in index):
- Rank: (Index) - int
- Country name: - object
- Population - int
- Date - Datetime
- % of world population - int

In [88]:
url='https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'
df=pd.read_html(url,header=0)[0]
df.head(10)

,Rank,Country(or dependent territory),Population,Date,% of worldpopulation,Source
0,1,China[Note 2],1397600000,"June 2, 2019",18.1%,Official population clock
1,2,India[Note 3],1347960000,"June 2, 2019",17.5%,Official population clock
2,3,United States[Note 4],329306000,"June 2, 2019",4.27%,Official population clock
3,4,Indonesia,268074600,"July 1, 2019",3.48%,Official annual projection
4,5,Brazil,209985000,"June 2, 2019",2.72%,Official population clock
5,6,Pakistan,204864000,"June 2, 2019",2.66%,Official population clock
6,7,Nigeria,200962417,"July 1, 2019",2.61%,UN Projection
7,8,Bangladesh,166656000,"June 2, 2019",2.16%,Official population clock
8,9,Russia[Note 5],146793744,"January 1, 2019",1.9%,Official estimate
9,10,Mexico,126577691,"July 1, 2019",1.64%,Official annual projection

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
Rank                               240 non-null object
Country(or dependent territory)    240 non-null object
Population                         240 non-null int64
Date                               240 non-null object
% of worldpopulation               240 non-null object
Source                             240 non-null object
dtypes: int64(1), object(5)
memory usage: 11.3+ KB

In [90]:
#čiščenje posebnih znakov in brisanje stolpcev
df['Country(or dependent territory)'] = df['Country(or dependent territory)'].str.split('[').str.get(0)
df['% of worldpopulation']=df['% of worldpopulation'].str.replace('%','')
df=df.drop('Source',axis=1)
df.head(10)

,Rank,Country(or dependent territory),Population,Date,% of worldpopulation
0,1,China,1397600000,"June 2, 2019",18.1
1,2,India,1347960000,"June 2, 2019",17.5
2,3,United States,329306000,"June 2, 2019",4.27
3,4,Indonesia,268074600,"July 1, 2019",3.48
4,5,Brazil,209985000,"June 2, 2019",2.72
5,6,Pakistan,204864000,"June 2, 2019",2.66
6,7,Nigeria,200962417,"July 1, 2019",2.61
7,8,Bangladesh,166656000,"June 2, 2019",2.16
8,9,Russia,146793744,"January 1, 2019",1.9
9,10,Mexico,126577691,"July 1, 2019",1.64

In [91]:
#Urejanje podatkovnih tipov 

df['Rank']=pd.to_numeric(df['Rank'],errors='coerce')
df=df.dropna()
df = df.astype({"Rank": 'int64','% of worldpopulation':'float64'})
df = df.astype({'% of worldpopulation':'int64'})
df['Date']=pd.to_datetime(df['Date'])

#uporabi rank kot indeks urejen rank 
df=df.set_index('Rank')

df.head()

,Country(or dependent territory),Population,Date,% of worldpopulation
Rank,,,,
1,China,1397600000,2019-06-02,18
2,India,1347960000,2019-06-02,17
3,United States,329306000,2019-06-02,4
4,Indonesia,268074600,2019-07-01,3
5,Brazil,209985000,2019-06-02,2

In [92]:
df.dtypes

Country(or dependent territory)            object
Population                                  int64
Date                               datetime64[ns]
% of worldpopulation                        int64
dtype: object